/* src/styles/nav.css */
.main-nav {
    display: flex;
    background-color: #333;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .main-nav p {
    color: #fff;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  
  .main-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .main-nav a:hover {
    color: aliceblue; /* Cambia el color al pasar el mouse sobre los enlaces */
  }